<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.unicam.org/tryGrammar/TryGrammar"
			class = "org.unicam.tryGrammar.tryGrammar.TryGrammarPackage"
			genModel = "model/generated/TryGrammar.genmodel" />
	</extension>
</plugin>
